<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <h2>The Current Time and Date:</h1>
    <center>
        <h1>@ViewBag.Time.ToString("dd MMMM, yyyy") <br> @ViewBag.Time.ToString("hh:mm tt")</h1>
    </center>
</body>
</html>